[[$header]] [[*pic-universe:isnotempty=`
<div class="big-img"><img src="[[*pic-universe]]" alt="" class="img-responsive"></div>
`]]
<div class="bgfff container content-box">
    <div class="row">
        <article class="col-lg-12">
            [[breadcrumb? &containerTpl=`breadcrumb-container` ]]
            <h1> [[*longtitle:notempty=`[[*longtitle]]`:isempty=`[[*pagetitle]]`]]</h1>
        </article>
    </div>
</div>

<div class="bggray g-mb-90">
    <div class="container">
        <div class="row">
            <div class="col-md-12 typography">

                <p>IELTS – это международная система тестирования английского языка, одна из наиболее известных в мире признанная квалификация по английскому языку. Это всесторонний тест, который проверяет четыре языковых навыка – устную речь, чтение, письмо и восприятие речи на слух. </p>
                
                <p>В IELTS существует два модуля – академический и общий. Академический модуль предназначен для тех, кто планирует учиться в высшем учебном заведении или на курсах повышения квалификации на английском языке.</p>
                
                <p>Общий модуль подходит для тех, кто собирается работать, получать среднее образование или учиться на курсах в англоговорящей стране. Он также предназначен для тех, кто намерен иммигрировать в Австралию, Канаду, Новую Зеландию или Великобританию. </p>
                
                <p>Академический модуль содержит характеристики академического английского языка и проверяет насколько кандидат готов учиться в англоговорящей среде. Общий модуль нацелен на английский, который используется в ежедневном разговоре и при общении на работе. </p>
                
                <p>Общая оценка в IELTS выводится на основе среднего арифметического суммы баллов всех четырёх компонентов теста, зачения которых равны между собой. Экзаменуемому присуждается оценка от 0 до 9, где 9 самая высокая оценка. Существует оценка и в 0.5 балла, поэтому возможно получить 6.5, например.</p>
                
                <p>Для образовательных целей 5.5 обычно достаточно для подготовительного курса (foundation course), 6.0 для первого курса бакалавриата, и 6.5 и выше для курса магистратуры и выше, хотя у различных учебных заведений могут быть разные требования. Перейтите по ссылке, чтобы проверить требования наиболее популярных учебных заведений. (ADD HYPERLINK)</p>

            </div>
        </div>
    </div>
</div>


<div id="js-filters-tabs" class="cbp-l-filters-big g-mt-40 g-mb-40">
    <div data-filter=".academic" class="cbp-filter-item-active cbp-filter-item">
        Академический модуль
    </div>
    <div data-filter=".general" class="cbp-filter-item">
        Общий модуль
    </div>
</div>

<div id="js-grid-tabs" class="cbp cbp-l-grid-tabs">
    <div class="cbp-item academic">

        <div class="container backgrounds-reset typography">
            <div class="row">
                <div class="col-md-12">
                    <h2><a name="format"></a>Формат теста IELTS</h2>
                    <p>В IELTS компоненты аудирование, чтение и письмо сдают в один день, без перерывов между ними. </p>

                    <p>Собеседование же могут назначить раньше или позже письменного экзамена с интервалом не более недели. Ваш тестовый центр сообщит вам назначенное время и дату. </p>

                </div>
            </div>
        </div>

        <div class="bg1 backgrounds">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 backgrounds-img">
                        <img src="[[getResourceField? &id=`196` &field=`pic-universe` &processTV=`1`]]" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-8">

                        <h2><a name="audio"></a>IELTS аудирование</h2>
                        <p><strong>Количество вопросов: </strong>40</p>
                        <p><strong>Время: </strong>30 минут (приблизительно) плюс десять минут на то, чтобы перенести ответы в лист ответов.</p>
                        <p>Тест по аудированию одинаков как для академического, так и для общего модулей. Тест состоит из четырёх частей, каждый из которых содержит десять вопросов. Первые две части включают записи разговоров из повседневной жизни. Последние две – записи разговоров в образовательном контексте. </p>
                        <p>Более подробная информация о типах заданий и вопросах здесь. (HYPERLINK TO MORE INFO)</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="container backgrounds-reset">
            <div class="row">
                <div class="col-md-4 backgrounds-img">
                    <img src="[[getResourceField? &id=`197` &field=`pic-universe` &processTV=`1`]]" alt="" class="img-responsive">
                </div>
                <div class="col-md-8">

                    <h2><a name="reading_academ"></a>IELTS Чтение (академический модуль) </h2>
                    <p><strong>Количество вопросов: </strong>40</p>
                    <p><strong>Время: </strong>60 минут (включая время для переноса ответов в листок ответов)</p>
                    <p>Чтение в академическом модуле состоит из трёх текстов общей тематики, взятых из книг, журналов, и газет. Рассматриваемые в текстах вопросы, соответствуют интересам кандидатов, которые готовятся к учёбе в высшие учебные заведения или курсам повышения квалификации. В тесте используются различные задания – здесь можно почитать более подробную информацию о тесте по чтению академического модуля. (HYPERLINK TO MORE INFO)</p>


                </div>
            </div>
        </div>

        <div class="bg1 backgrounds">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 backgrounds-img">
                        <img src="[[getResourceField? &id=`198` &field=`pic-universe` &processTV=`1`]]" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-8">

                        <h2><a name="writing_academ"></a>IELTS Письмо (академический модуль)</h2>
                        <p><strong>Два задания </strong>(оба необходимо выполнить)</p>
                        <p><strong>Время: </strong>60 минут</p>
                        <h3><strong>Задание номер один</strong></h3>
                        <p>В этом задании вам необходимо описать графическое изображение – таблицу, график, карту или диаграмму письменно. Ваш ответ должен содержать не менее 150 слов и рекомендуется, что вы выполните задание приблизительно за 20 минут. Более подробную информацию о письменном задании номер один можно прочитать здесь. (HYPERLINK TO MORE INFO)</p>
                        <h3><strong>Задание номер два</strong></h3>
                        <p>В этом задании вам необходимо написать сочинение, которое описывает вашу точку зрения на заданную тему, приводит обе стороны аргумента или предлагает решение обозначенной проблемы. Ваш ответ должен содержать не менее 250 слов и рекомендуется, что вы выполните задание приблизительно за 40 минут. Более подробную информацию о письменном задании номер два можно прочитать здесь. (HYPERLINK TO MORE INFO)</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container backgrounds-reset">
            <div class="row">
                <div class="col-md-4 backgrounds-img">
                    <img src="[[getResourceField? &id=`199` &field=`pic-universe` &processTV=`1`]]" alt="" class="img-responsive">

                </div>
                <div class="col-md-8">
                    <h2><a name="interview"></a>IELTS Устное собеседование</h2>
                    <p><strong>Время: </strong>11-14 минут</p>
                    <p>Устное собеседование – это беседа с экзаменатором один на один. Оно состоит из трёх частей. В первой части экзаменатор просит вас показать вам свой паспорт или другое удостоверение личности и задаёт вам вопросы общего характера. Эта часть длится 4-5 минут и and the examiner uses scripted questions. Более подробную информацию о первой части собеседования можно прочитать здесь. (HYPERLINK TO MORE INFO)</p>
                </div>
            </div>
        </div>

    </div>
    <div class="cbp-item general">

        <div class="container backgrounds-reset typography">
            <div class="row">
                <div class="col-md-12">
                    <h2><a name="format"></a>Формат теста IELTS</h2>
                    <p>В IELTS компоненты аудирование, чтение и письмо сдают в один день, без перерывов между ними. </p>

                    <p>Собеседование же могут назначить раньше или позже письменного экзамена с интервалом не более недели. Ваш тестовый центр сообщит вам назначенное время и дату. </p>

                </div>
            </div>
        </div>

        <div class="bg2 backgrounds">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 backgrounds-img">
                        <img src="[[getResourceField? &id=`196` &field=`pic-universe` &processTV=`1`]]" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-8">

                        <h2><a name="audio"></a>IELTS аудирование</h2>
                        <p><strong>Количество вопросов: </strong>40</p>
                        <p><strong>Время: </strong>30 минут (приблизительно) плюс десять минут на то, чтобы перенести ответы в лист ответов.</p>
                        <p>Тест по аудированию одинаков как для академического, так и для общего модулей. Тест состоит из четырёх частей, каждый из которых содержит десять вопросов. Первые две части включают записи разговоров из повседневной жизни. Последние две – записи разговоров в образовательном контексте. </p>
                        <p>Более подробная информация о типах заданий и вопросах здесь. (HYPERLINK TO MORE INFO)</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="container backgrounds-reset">
            <div class="row">
                <div class="col-md-4 backgrounds-img">
                    <img src="[[getResourceField? &id=`197` &field=`pic-universe` &processTV=`1`]]" alt="" class="img-responsive">
                </div>
                <div class="col-md-8">

                    <h2><a name="reading_academ"></a>IELTS Чтение (общий модуль)</h2>
                    <p><strong>Количество вопросов: </strong>40</p>
                    <p><strong>Время: </strong>60 минут (включая время для переноса ответов в листок ответов)</p>
                    <p>Чтение в общем модуле состоит из трёх частей. Первая часть может содержать два или три небольших текста или несколько коротких текстов, вторая часть включает в себя два текста, а третья один.</p>


                    <p>Первая часть содержит язык, необходимый для понимания обиходных ситуаций, вторая часть содержит язык, используемый при общении на работе, а третья часть включает более длинный описательный текст или инструкцию. </p>

                    <p>В этой части теста используются различные задания, более подробную информацию о которых можно прочитать здесь. (HYPERLINK TO MORE INFO)</p>

                </div>
            </div>
        </div>

        <div class="bg2 backgrounds">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 backgrounds-img">
                        <img src="[[getResourceField? &id=`198` &field=`pic-universe` &processTV=`1`]]" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-8">

                        <h2><a name="writing_academ"></a>IELTS Письмо (общий модуль)</h2>
                        <p><strong>Два задания </strong>(оба необходимо выполнить)</p>
                        <p><strong>Время: </strong>60 минут</p>
                        <h3><strong>Задание номер один</strong></h3>
                        <p>В этом задании вам нужно написать письмо в ответ на запрашиваемую информацию или объяснить ситуацию. Вам даётся три пункта, которые ваш ответ должен содержать. </p>

                        <p>Ваш ответ должен содержать не менее 150 слов и рекомендуется, что вы выполните задание приблизительно за 20 минут. Более подробную информацию о письменном задании номер один можно прочитать здесь. (HYPERLINK TO MORE INFO)</p>

                        <h3><strong>Задание номер два</strong></h3>
                        <p>В этом задании вам необходимо написать сочинение, которое описывает вашу точку зрения на заданную тему, приводит обе стороны аргумента или предлагает решение обозначенной проблемы. Ваш ответ должен содержать не менее 250 слов и рекомендуется, что вы выполните задание приблизительно за 40 минут. Более подробную информацию о письменном задании номер два можно прочитать здесь. (HYPERLINK TO MORE INFO)</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container backgrounds-reset">
            <div class="row">
                <div class="col-md-4 backgrounds-img">
                    <img src="[[getResourceField? &id=`199` &field=`pic-universe` &processTV=`1`]]" alt="" class="img-responsive">

                </div>
                <div class="col-md-8">
                    <h2><a name="interview"></a>IELTS Устное собеседование</h2>
                    <p><strong>Время: </strong>11-14 минут</p>
                    <p>Устное собеседование – это беседа с экзаменатором один на один. Оно состоит из трёх частей. В первой части экзаменатор просит вас показать вам свой паспорт или другое удостоверение личности и задаёт вам вопросы общего характера. Эта часть длится 4-5 минут и and the examiner uses scripted questions. Более подробную информацию о первой части собеседования можно прочитать здесь. (HYPERLINK TO MORE INFO)</p>


                    <p>Вторая часть – это ваш монолог, где на ответ вам даётся 2 минуты. Вам дадут карточку с определённой темой, которую вам нужно раскрыть, опираясь на предложенные пункты указанные в вашей теме. Вам даётся одна минута на подготовку. Более подробную информацию о второй части устного собеседования можно прочитать здесь. (HYPERLINK TO MORE INFO)</p>

                    <p>Третья часть – это беседа с экзаменатором на тему, связанную с темой вашей карточки. Беседа будет затрагивать общие и абстрактные темы, и если будет уместно какие-то темы раскроет более детально. Более подробную информацию о письменном задании номер два можно прочитать здесь. (HYPERLINK TO MORE INFO)</p>

                </div>
            </div>
        </div>
    </div>

</div>



<div class="container g-mb-70">
    <div class="row">
        <div class="col-md-12">
            <div class="share">
                <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
                <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
                <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,gplus,twitter" data-counter=""></div>
            </div>
        </div>
    </div>
</div>


[[$footer]]