[[$header]]
<div class="bgfff container content-box">
    <div class="row">
        <article class="col-lg-12">
            [[breadcrumb? &containerTpl=`breadcrumb-container` ]]
            <h1> [[*longtitle:notempty=`[[*longtitle]]`:isempty=`[[*pagetitle]]`]]</h1> [[*content]]
            <div id="js-filters-tabs-services" class="cbp-l-filters-big g-mt-40 g-mb-40">
                <div data-filter=".writing" class="cbp-filter-item-active cbp-filter-item">
                    WRITING FEEDBACK
                </div>
                <div data-filter=".speaking" class="cbp-filter-item">
                    SPEAKING FEEDBACK
                </div>
            </div>
        </article>
    </div>

</div>

<div id="js-grid-tabs-services" class="cbp cbp-l-grid-tabs">
    <div class="cbp-item writing">

        <div class="bg1 backgrounds">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 backgrounds-img">
                        <img src="[[getResourceField? &id=`198` &field=`pic-universe` &processTV=`1`]]" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-8">
                        <h2>Writing feedback</h2> [[*page-ourservices-writing-feedback]]

                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row equal-height-columns brdr g-mt-40 g-mb-40">
                <div class="col-md-6">

                    <div class="services-radius1">

                        <h3>Basic</h3>

                        <b>[[*page-ourservices-writing-feedback-basic-price]]</b> [[*page-ourservices-writing-feedback-basic-descriptio]]

                        <a href="[[*page-ourservices-writing-feedback-basic-link]]" class="btn-u btn-u-lg btn-u-default btn-u-upper rounded">Buy now</a>



                    </div>
                </div>
                <div class="col-md-6">

                    <div class="services-radius1">
                        <h3>Premium</h3>

                        <b>[[*page-ourservices-writing-feedback-premium-price]]</b> [[*page-ourservices-writing-feedback-premium-descript]]

                        <a href="[[*page-ourservices-writing-feedback-premium-link]]" class="btn-u btn-u-lg btn-u-default btn-u-upper rounded">Buy now</a>
                    </div>
                </div>
            </div>
            <div class="row g-mb-40">
                <div class="col-sm-1">
                    <img src="assets/img/icon1.png" alt="" class="img-responsive g-pt-20">
                </div>
                <div class="col-sm-5">
                    <h4>How does it work?</h4> [[*page-ourservices-writing-feedback-hdiw]]



                </div>
                <div class="col-sm-1">
                    <img src="assets/img/icon2.png" alt="" class="img-responsive g-pt-20">
                </div>

                <div class="col-sm-5">
                    <h4>How soon can I get feedback?</h4> [[*page-ourservices-writing-feedback-hscigf]]
                </div>
            </div>
        </div>

    </div>
    <div class="cbp-item speaking">

        <div class="bg2 backgrounds">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 backgrounds-img">
                        <img src="[[getResourceField? &id=`199` &field=`pic-universe` &processTV=`1`]]" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-8">
                        <h2>Speaking Feedback</h2> [[*page-ourservices-speaking-feedback]]
                    </div>
                </div>
            </div>
        </div>



        <div class="container">
            <div class="row equal-height-columns brdr g-mt-40 g-mb-40">
                <div class="col-md-6">

                    <div class="services-radius1">

                        <h3>Basic</h3>

                        <b>[[*page-ourservices-speaking-feedback-basic-price]]</b> [[*page-ourservices-speaking-feedback-basic-descripti]]

                        <a href="[[*page-ourservices-speaking-feedback-basic-link]]" class="btn-u btn-u-lg btn-u-default btn-u-upper rounded">Buy now</a>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="services-radius1">
                        <h3>Premium</h3>

                        <b>[[*page-ourservices-speaking-feedback-premium-price]]</b> 
                        
                        [[*page-ourservices-speaking-feedback-premium-descrip]]

                        <a href="[[*page-ourservices-speaking-feedback-premium-link]]" class="btn-u btn-u-lg btn-u-default btn-u-upper rounded">Buy now</a>

                    </div>
                </div>
            </div>
            <div class="row g-mb-40">
                <div class="col-sm-1">
                    <img src="assets/img/icon1.png" alt="" class="img-responsive g-pt-20">
                </div>

                <div class="col-sm-5">

                    <h4>How does it work?</h4> [[*page-ourservices-speaking-feedback-hdiw]]
                </div>
                <div class="col-sm-1">
                    <img src="assets/img/icon2.png" alt="" class="img-responsive g-pt-20"></div>
                <div class="col-sm-5">
                    <h4>How soon can I get feedback?</h4> [[*page-ourservices-speaking-feedback-hscigf]]
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container g-mb-70">
    <div class="row">
        <div class="col-md-12">
            <div class="share">
                <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
                <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
                <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,gplus,twitter" data-counter=""></div>
            </div>
        </div>
    </div>
</div>


[[$footer]]