[[$header]] 

<div class="bgfff container content-box">
    <div class="container">
        <div class="row">
            <article class="col-lg-12">
                [[breadcrumb? &containerTpl=`breadcrumb-container` ]]
                <h1> [[*longtitle:notempty=`[[*longtitle]]`:isempty=`[[*pagetitle]]`]]</h1>
            </article>
        </div>
    </div>
</div>

<!-- Testimonials -->
<section id="testimonials g-mb-40">
    <div class="testo">
        <div class="container">
            <div class="testo-in">
                <div class="g-heading-v11 text-center g-mb-70">
                    <h2 class="g-color-white">What do people say about us?</h2>
<!--                    <p class="g-color-white-darker">Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Nam eget dui. Etiam rhoncus. ullamcorper ultricies nisi, ullamcorper ultricies nisi</p>-->
                </div>

                <!-- Testimonials-v3 -->
                <div class="testimonials-v3">
                    <ul class="list-unstyled owl-ts-v1">
                        [[pdoResources? &tpl=`testimonial-listing` &parents=`231` &showHidden=`1` &includeContent=`1` &limit=`5` &includeTVs=`pic-universe` &sortby=`menuindex` &sortdir=`ASC` ]]
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- End of Testimonials -->


<div class="container g-mb-70 g-mt-40">
    <div class="row">
        <div class="col-md-12">
            <div class="share">
                <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
                <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
                <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,gplus,twitter" data-counter=""></div>
            </div>
        </div>
    </div>
</div>

[[$footer]]