[[$header]] [[*pic-universe:isnotempty=`
<div class="big-img"><img src="[[*pic-universe]]" alt="" class="img-responsive"></div>
`]]
<div class="bgfff container content-box">
    <div class="row">
        <article class="col-lg-12">
            [[breadcrumb? &containerTpl=`breadcrumb-container` ]]
            <h1> [[*longtitle:notempty=`[[*longtitle]]`:isempty=`[[*pagetitle]]`]]</h1>
        </article>
    </div>
</div>


<div class="bggray g-mb-90">
    <div class="container">
        <div class="row">
            <div class="col-md-12 typography">
                [[*content]]

            </div>
        </div>
    </div>
</div>


<div id="js-filters-tabs" class="cbp-l-filters-big g-mt-40 g-mb-40">
    <div data-filter=".academic" class="cbp-filter-item-active cbp-filter-item">
        Academic module
    </div>
    <div data-filter=".general" class="cbp-filter-item">
        General module
    </div>
</div>

<div id="js-grid-tabs" class="cbp cbp-l-grid-tabs">
    <div class="cbp-item academic">

        <div class="container backgrounds-reset typography">
            <div class="row">
                <div class="col-md-12">
                    <h2><a name="format"></a>IELTS Test Format</h2>
                   [[*page-ieltsexam-academ-testformat]] 

                </div>
            </div>
        </div>

        <div class="bg1 backgrounds">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 backgrounds-img">
                        <img src="[[getResourceField? &id=`196` &field=`pic-universe` &processTV=`1`]]" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-8">

                        <h2><a name="audio"></a>IELTS Listening
</h2>
                        [[*page-ieltsexam-academ-listening]]

                    </div>
                </div>
            </div>
        </div>

        <div class="container backgrounds-reset">
            <div class="row">
                <div class="col-md-4 backgrounds-img">
                    <img src="[[getResourceField? &id=`197` &field=`pic-universe` &processTV=`1`]]" alt="" class="img-responsive">
                </div>
                <div class="col-md-8">

                    <h2><a name="reading_academ"></a>IELTS Academic Reading</h2>
                    [[*page-ieltsexam-academ-reading]]


                </div>
            </div>
        </div>

        <div class="bg1 backgrounds">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 backgrounds-img">
                        <img src="[[getResourceField? &id=`198` &field=`pic-universe` &processTV=`1`]]" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-8">

                        <h2><a name="writing_academ"></a>IELTS Academic Writing </h2>
                        [[*page-ieltsexam-academ-writing]]
                    </div>
                </div>
            </div>
        </div>

        <div class="container backgrounds-reset">
            <div class="row">
                <div class="col-md-4 backgrounds-img">
                    <img src="[[getResourceField? &id=`199` &field=`pic-universe` &processTV=`1`]]" alt="" class="img-responsive">

                </div>
                <div class="col-md-8">
                    <h2><a name="interview"></a>IELTS Speaking</h2>
                    [[*page-ieltsexam-academ-speaking]]
                </div>
            </div>
        </div>

    </div>
    <div class="cbp-item general">

        <div class="container backgrounds-reset typography">
            <div class="row">
                <div class="col-md-12">
                    <h2><a name="format"></a>IELTS Test Format</h2>
                    [[*page-ieltsexam-general-testformat]]

                </div>
            </div>
        </div>

        <div class="bg2 backgrounds">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 backgrounds-img">
                        <img src="[[getResourceField? &id=`196` &field=`pic-universe` &processTV=`1`]]" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-8">

                        <h2><a name="audio"></a>IELTS Listening
</h2>
                        [[*page-ieltsexam-general-listening]]

                    </div>
                </div>
            </div>
        </div>

        <div class="container backgrounds-reset">
            <div class="row">
                <div class="col-md-4 backgrounds-img">
                    <img src="[[getResourceField? &id=`197` &field=`pic-universe` &processTV=`1`]]" alt="" class="img-responsive">
                </div>
                <div class="col-md-8">

                    <h2><a name="reading_academ"></a>IELTS General Reading</h2>
                    [[*page-ieltsexam-general-reading]]


                </div>
            </div>
        </div>

        <div class="bg2 backgrounds">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 backgrounds-img">
                        <img src="[[getResourceField? &id=`198` &field=`pic-universe` &processTV=`1`]]" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-8">

                        <h2><a name="writing_academ"></a>IELTS General Writing </h2>
                        [[*page-ieltsexam-general-writing]]
                    </div>
                </div>
            </div>
        </div>

        <div class="container backgrounds-reset">
            <div class="row">
                <div class="col-md-4 backgrounds-img">
                    <img src="[[getResourceField? &id=`199` &field=`pic-universe` &processTV=`1`]]" alt="" class="img-responsive">

                </div>
                <div class="col-md-8">
                    <h2><a name="interview"></a>IELTS Speaking</h2>
                    [[*page-ieltsexam-general-speaking]]
                </div>
            </div>
        </div>

    </div>

</div>


<div class="container g-mb-70">
    <div class="row">
        <div class="col-md-12">
            <div class="share">
                <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
                <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
                <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,gplus,twitter" data-counter=""></div>
            </div>
        </div>
    </div>
</div>


[[$footer]]